/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

/* 讓導覽列的下拉選單顯示在最上層，且不要被裁切 */
.custom-navbar {
  position: relative;
  z-index: 1030;
  /* 比 hero 區塊高 */
  overflow: visible;
}

.custom-navbar .dropdown-menu {
  z-index: 1050;
  /* 比 Navbar 再高一點 */
}